.categoryImg{
    width: 100%;
    height: 100px;
    background-color: red;
}

#categoryStart{
    h2{
        font-size: var(--PageHeading);
    }

    p{
        font-family: var(--subFont);
        font-size: var(--Small);
    }
    
    .typeSort{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .left{
            display: flex;
            gap: 20px;
        }
    }
}

#productsList{
    padding-left: 0;
    padding-right: 0;

    .filters{
        padding: 20px var(--margin);
        background-color: var(--primary);
        position: sticky;
        top: var(--navHeight);
        z-index: +1;
        transition: var(--transition500ms);

        >div{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
    .filters.adjust{
        top: 0px; 
        transition: var(--transition200ms);
    }

    .products{
        margin-top: 40px;
        padding-left: var(--margin);
        padding-right: var(--margin);
        
        .productscontainer{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, 310px);
            grid-gap: 40px;
            gap: 40px;
            justify-content: space-between;

            // &::after {
            //     content: "";
            //     flex: auto;
            // }
        }
    }
}