.section.newsletter {

    >div {
        width: 100%;
        display: flex;
        border-radius: 40px;
        overflow: hidden;
        background-color: var(--light);
        

        >div {
            height: 530px;
        }

        .left {
            width: 100%;
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            justify-content: center;

            h2 {
                font-family: var(--font);
                font-size: var(--PageHeading);
                font-weight: lighter;
            }
        }

        .right {
            flex-basis: calc((100vw - var(--margin))/2);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}