.newsletter {

    >div {
        width: 100%;
        display: flex;
        border-radius: 40px;
        overflow: hidden;
        background-color: var(--light);
        

        >div {
            height: 530px;
        }

        .left {
            width: 100%;
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            justify-content: center;

            h2 {
                font-family: var(--font);
                font-size: var(--PageHeading);
                font-weight: lighter;
            }
        }

        .right {
            flex-basis: calc((100vw - var(--margin))/2);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

@media only screen and (max-width:821px) {
    .newsletter{
        >div{
            flex-direction: column-reverse !important;
            >div{
                flex-basis: auto !important;
                height: auto !important;
            }

            .right{
                width: 100% !important;
                height: 100% !important;
                aspect-ratio: 1 / 1 !important;
            }

            .left{
                min-height: 340px !important;
            }
        }
    }
}

@media only screen and (max-width:480px) {
    .newsletter{
        >div{
            border-radius: 20px !important;
        }
        p{
            text-align: center !important;
        }
    }
}