.itemCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;

    .imagery {
        width: 310px;
        height: 378px;
        background-color: var(--gray);
        filter: drop-shadow(var(--dropShadow));
        border-radius: 20px;
        overflow: hidden;

        .above {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .first {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;

                .top {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .label {
                        padding: 4px 10px;
                        background-color: var(--tertiary);
                        border-radius: 20px;
                        display: flex;
                        align-items: center;
                        filter: drop-shadow(var(--dropShadow));

                        p {
                            font-family: var(--subFont);
                            font-size: var(--Tiny);
                            color: var(--dark);
                            text-transform: uppercase;
                        }
                    }

                    .itemBtn {
                        --size: 40px;
                        width: var(--size);
                        height: var(--size);
                        display: grid;
                        place-items: center;
                        background-color: rgba(150, 150, 150, 0.7);
                        outline: none;
                        border: none;
                        border-radius: 50%;
                        filter: drop-shadow(var(--dropShadow));
                        cursor: pointer;
                    }
                }


                .bottom {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .rating {
                        width: fit-content;
                        display: flex;
                        gap: 5px;
                        padding: 2px 10px;
                        background-color: var(--light);
                        border-radius: 20px;
                        filter: drop-shadow(var(--dropShadow));

                        p {
                            font-family: var(--subFont);
                            font-size: var(--Tiny);
                            color: var(--dark);
                        }
                    }
                }

            }

            .last {
                width: 100%;
                display: none;

                .button {
                    min-width: none !important;
                    width: 100%;
                }
            }
        }

    }

    .details {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
            font-family: var(--font);
            font-weight: lighter;
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .sizeColors {
                display: flex;
                flex-direction: column;
                gap: 10px;

                >div {
                    display: flex;
                    gap: 10px;
                }

                .colors {

                    .color {
                        --size: 20px;
                        width: var(--size);
                        height: var(--size);
                        border-radius: 50%;
                    }
                }

                .sizes {
                    .size {
                        font-family: var(--subFont);
                        font-size: var(--Tiny);
                        text-transform: uppercase;
                    }
                }
            }

            .price {
                display: flex;
                align-items: center;
                gap: 10px;

                p {
                    font-family: var(--subFont);
                    font-size: var(--Tiny);
                    color: var(--gray);
                    text-decoration: line-through;
                }

                p:last-child {
                    font-size: var(--Small);
                    text-decoration: none;
                    color: var(--dark);
                }
            }
        }
    }

    .hiddenBtnsContainer{
        display: none;
        flex-direction: column;
        gap: 10px;

        .button{
            min-height: 40px !important;
            width: 100% !important;
        }
    }
}

.itemCard:hover {
    .last {
        display: flex !important;
    }
}

@media only screen and (max-width:640px) {
    .itemCard {
        width: 100%;
        gap: 10px !important;

        .imagery {
            width: 100% !important;
            height: 213px !important;

            .first {
                padding: 10px !important;

                .top {

                    .label {
                        padding: 2px 5px !important;
                    }

                    .itemBtn {
                        --size: 30px !important;

                        img {
                            width: 70% !important;
                        }
                    }
                }

                .bottom{
                    .rating{
                        gap: 5px !important;
                        padding: 2px 5px !important;
                    }
                }
            }
        }

        .details {
            gap: 10px !important;

            h3 {
                font-size: var(---PageHeading) !important;
            }

            .bottom{
                .sizeColors{

                    >div{
                        gap: 5px !important;
                    }

                    .colors{
                        .color{
                            --size: 10px !important;
                        }
                    }
                }
                .price{
                    flex-direction: column !important;
                    gap: 0px !important;
                }
            }
        }
        .hiddenBtnsContainer{
            display: flex !important;
        }
    }

    .itemCard:hover {
        .last {
            display: none !important;
        }
    }
}