@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Marcellus&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// color codes
:root{
    --dark : #08131C;
    --light : #F0F1F6;
    --primary : #861E35;
    --secondary : #6C9AD3;
    --tertiary : #CED71D;
    --gray : #BABABA;
}

// typography

:root{
    --font : "Marcellus", serif;
    --subFont : "DM Sans", sans-serif;
    --Display : 3.5rem;
    --PageHeading : 3rem;
    --SubPageHeading : 1.5rem;
    --Small : 1.125rem;
    --Tiny : 0.875rem;
}

// margins
:root{
    --margin : 70px;
}

// Extras
:root{
    --dropShadow: 0 0 11.9px rgba(0, 0, 0, 0.132);
    --navHeight : 120px;
    --transition500ms : 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    --transition200ms : 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

// Global Component Props
.section{
    padding: 40px var(--margin);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1,h2,h3,h4{
    font-family: var(--font);
    font-weight: lighter;
}

h1{
    font-size: var(--Display);
}

h2{
    font-size: var(--PageHeading);
}

h3{
    font-size: var(--SubPageHeading);
}

h4{
    font-size: var(--Small);
}

.small{
    font-size: var(--Small);
    font-family: var(--subFont);
}

.tiny{
    font-size: var(--Tiny);
    font-family: var(--subFont);
}

// Tablet
@media only screen and (max-width:640px){
    // typography
    :root{
        --Display : 3rem !important;
        --PageHeading : 2.25rem !important;
        --SubPageHeading : 1.5rem !important; 
        --Small : 1.125rem !important;
        --Medium : 0.875rem !important;
        --Tiny : 0.75rem !important;
    }

    // margins
    :root{
        --margin : 40px;
    }
}

// Mobile
@media only screen and (max-width:640px){
    // typography
    :root{
        --Display : 1.5rem !important;
        --PageHeading : 1.125rem !important;
        --SubPageHeading : 1.5rem !important;
        --Small : 0.875rem !important;
        --Tiny : 0.75rem !important;
    }

    // margins
    :root{
        --margin : 24px;
    }

    :root{
        --navHeight : 64px;
    }
}