@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Marcellus&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// color codes
:root{
    --dark : #08131C;
    --light : #F0F1F6;
    --primary : #861E35;
    --secondary : #6C9AD3;
    --tertiary : #CED71D;
    --gray : #BABABA;
}

// typography

:root{
    --font : "Marcellus", serif;
    --subFont : "DM Sans", sans-serif;
    --Display : 56px;
    --PageHeading : 48px;
    --SubPageHeading : 24px;
    --Small : 18px;
    --Tiny : 14px;
}

// margins
:root{
    --margin : 70px;
}

// Extras
:root{
    --dropShadow: 0 0 11.9px rgba(0, 0, 0, 0.132);
    --navHeight : 120px;
}

// Global Component Props
.section{
    padding: 40px var(--margin);
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2{
        font-family: var(--font);
        font-weight: lighter;
        font-size: var(--PageHeading);
    }
}

.itemsHolder{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.small{
    font-size: var(--Small);
    font-family: var(--subFont);
}

.tiny{
    font-size: var(--Tiny);
    font-family: var(--subFont);
}

// Tablet
@media only screen and (max-width:768px){
    // typography
    :root{
        --Display : 48px;
        --PageHeading : 36px;
        --SubPageHeading : 24px;
        --Small : 18px;
        --Tiny : 12px;
    }

    // margins
    :root{
        --margin : 40px;
    }
}

// Mobile
@media only screen and (max-width:480px){
    // typography
    :root{
        --Display : 24px;
        --PageHeading : 18px;
        --SubPageHeading : 24px;
        --Small : 14px;
        --Tiny : 12px;
    }

    // margins
    :root{
        --margin : 24px;
    }
}