.spclItems{

    .itemsHolder{
        margin-top: 40px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

}

@media only screen and (max-width:431px){
    .spclItems{

        .itemsHolder{
            display: grid !important;
            grid-template-columns: repeat(2,1fr) !important;
            row-gap: 40px !important;
        }
    
    }
}