.inputAndBtn{
    width: 500px;
    display: flex;
    border: 1px solid var(--gray);

    input{
        border: 0;
        outline: 0;
        flex-basis: 60%;
        font-size: var(--Small);
        font-family: var(--subFont);
        color: var(--dark);
        padding: 10px 20px;
    }
    .button{
        flex-basis: 40%;
    }
}