#favorites{
    h2{
        font-size: var(--PageHeading);
    }

    .productscontainer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 310px);
        grid-gap: 40px;
        gap: 40px;
        justify-content: space-between;
    }
}